// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-frame-110-name: 'Frame-110';
$-frame-110-x: 3140px;
$-frame-110-y: 2022px;
$-frame-110-offset-x: -3140px;
$-frame-110-offset-y: -2022px;
$-frame-110-width: 32px;
$-frame-110-height: 33px;
$-frame-110-total-width: 3910px;
$-frame-110-total-height: 3499px;
$-frame-110-image: '../images/sprite.png';
$-frame-110: (3140px, 2022px, -3140px, -2022px, 32px, 33px, 3910px, 3499px, '../images/sprite.png', 'Frame-110', );
$-frame-110-1-name: 'Frame-110_1';
$-frame-110-1-x: 3182px;
$-frame-110-1-y: 2022px;
$-frame-110-1-offset-x: -3182px;
$-frame-110-1-offset-y: -2022px;
$-frame-110-1-width: 32px;
$-frame-110-1-height: 33px;
$-frame-110-1-total-width: 3910px;
$-frame-110-1-total-height: 3499px;
$-frame-110-1-image: '../images/sprite.png';
$-frame-110-1: (3182px, 2022px, -3182px, -2022px, 32px, 33px, 3910px, 3499px, '../images/sprite.png', 'Frame-110_1', );
$-frame-110-2-name: 'Frame-110_2';
$-frame-110-2-x: 3560px;
$-frame-110-2-y: 1213px;
$-frame-110-2-offset-x: -3560px;
$-frame-110-2-offset-y: -1213px;
$-frame-110-2-width: 128px;
$-frame-110-2-height: 128px;
$-frame-110-2-total-width: 3910px;
$-frame-110-2-total-height: 3499px;
$-frame-110-2-image: '../images/sprite.png';
$-frame-110-2: (3560px, 1213px, -3560px, -1213px, 128px, 128px, 3910px, 3499px, '../images/sprite.png', 'Frame-110_2', );
$-frame-110-3-name: 'Frame-110_3';
$-frame-110-3-x: 3698px;
$-frame-110-3-y: 1213px;
$-frame-110-3-offset-x: -3698px;
$-frame-110-3-offset-y: -1213px;
$-frame-110-3-width: 128px;
$-frame-110-3-height: 128px;
$-frame-110-3-total-width: 3910px;
$-frame-110-3-total-height: 3499px;
$-frame-110-3-image: '../images/sprite.png';
$-frame-110-3: (3698px, 1213px, -3698px, -1213px, 128px, 128px, 3910px, 3499px, '../images/sprite.png', 'Frame-110_3', );
$-frame-110-4-name: 'Frame-110_4';
$-frame-110-4-x: 3095px;
$-frame-110-4-y: 1884px;
$-frame-110-4-offset-x: -3095px;
$-frame-110-4-offset-y: -1884px;
$-frame-110-4-width: 128px;
$-frame-110-4-height: 128px;
$-frame-110-4-total-width: 3910px;
$-frame-110-4-total-height: 3499px;
$-frame-110-4-image: '../images/sprite.png';
$-frame-110-4: (3095px, 1884px, -3095px, -1884px, 128px, 128px, 3910px, 3499px, '../images/sprite.png', 'Frame-110_4', );
$-frame-117-name: 'Frame-117';
$-frame-117-x: 3224px;
$-frame-117-y: 2022px;
$-frame-117-offset-x: -3224px;
$-frame-117-offset-y: -2022px;
$-frame-117-width: 32px;
$-frame-117-height: 33px;
$-frame-117-total-width: 3910px;
$-frame-117-total-height: 3499px;
$-frame-117-image: '../images/sprite.png';
$-frame-117: (3224px, 2022px, -3224px, -2022px, 32px, 33px, 3910px, 3499px, '../images/sprite.png', 'Frame-117', );
$-frame-27-name: 'Frame-27';
$-frame-27-x: 3826px;
$-frame-27-y: 814px;
$-frame-27-offset-x: -3826px;
$-frame-27-offset-y: -814px;
$-frame-27-width: 69px;
$-frame-27-height: 71px;
$-frame-27-total-width: 3910px;
$-frame-27-total-height: 3499px;
$-frame-27-image: '../images/sprite.png';
$-frame-27: (3826px, 814px, -3826px, -814px, 69px, 71px, 3910px, 3499px, '../images/sprite.png', 'Frame-27', );
$-frame-27-1-name: 'Frame-27_1';
$-frame-27-1-x: 3826px;
$-frame-27-1-y: 895px;
$-frame-27-1-offset-x: -3826px;
$-frame-27-1-offset-y: -895px;
$-frame-27-1-width: 69px;
$-frame-27-1-height: 71px;
$-frame-27-1-total-width: 3910px;
$-frame-27-1-total-height: 3499px;
$-frame-27-1-image: '../images/sprite.png';
$-frame-27-1: (3826px, 895px, -3826px, -895px, 69px, 71px, 3910px, 3499px, '../images/sprite.png', 'Frame-27_1', );
$-frame-29-name: 'Frame-29';
$-frame-29-x: 3819px;
$-frame-29-y: 1884px;
$-frame-29-offset-x: -3819px;
$-frame-29-offset-y: -1884px;
$-frame-29-width: 37px;
$-frame-29-height: 37px;
$-frame-29-total-width: 3910px;
$-frame-29-total-height: 3499px;
$-frame-29-image: '../images/sprite.png';
$-frame-29: (3819px, 1884px, -3819px, -1884px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Frame-29', );
$-frame-29-1-name: 'Frame-29_1';
$-frame-29-1-x: 3308px;
$-frame-29-1-y: 2022px;
$-frame-29-1-offset-x: -3308px;
$-frame-29-1-offset-y: -2022px;
$-frame-29-1-width: 31px;
$-frame-29-1-height: 31px;
$-frame-29-1-total-width: 3910px;
$-frame-29-1-total-height: 3499px;
$-frame-29-1-image: '../images/sprite.png';
$-frame-29-1: (3308px, 2022px, -3308px, -2022px, 31px, 31px, 3910px, 3499px, '../images/sprite.png', 'Frame-29_1', );
$-frame-30-name: 'Frame-30';
$-frame-30-x: 3612px;
$-frame-30-y: 2277px;
$-frame-30-offset-x: -3612px;
$-frame-30-offset-y: -2277px;
$-frame-30-width: 37px;
$-frame-30-height: 38px;
$-frame-30-total-width: 3910px;
$-frame-30-total-height: 3499px;
$-frame-30-image: '../images/sprite.png';
$-frame-30: (3612px, 2277px, -3612px, -2277px, 37px, 38px, 3910px, 3499px, '../images/sprite.png', 'Frame-30', );
$-frame-30-1-name: 'Frame-30_1';
$-frame-30-1-x: 3659px;
$-frame-30-1-y: 2277px;
$-frame-30-1-offset-x: -3659px;
$-frame-30-1-offset-y: -2277px;
$-frame-30-1-width: 37px;
$-frame-30-1-height: 38px;
$-frame-30-1-total-width: 3910px;
$-frame-30-1-total-height: 3499px;
$-frame-30-1-image: '../images/sprite.png';
$-frame-30-1: (3659px, 2277px, -3659px, -2277px, 37px, 38px, 3910px, 3499px, '../images/sprite.png', 'Frame-30_1', );
$-frame-30-2-name: 'Frame-30_2';
$-frame-30-2-x: 3706px;
$-frame-30-2-y: 2277px;
$-frame-30-2-offset-x: -3706px;
$-frame-30-2-offset-y: -2277px;
$-frame-30-2-width: 37px;
$-frame-30-2-height: 38px;
$-frame-30-2-total-width: 3910px;
$-frame-30-2-total-height: 3499px;
$-frame-30-2-image: '../images/sprite.png';
$-frame-30-2: (3706px, 2277px, -3706px, -2277px, 37px, 38px, 3910px, 3499px, '../images/sprite.png', 'Frame-30_2', );
$-frame-31-name: 'Frame-31';
$-frame-31-x: 3866px;
$-frame-31-y: 1884px;
$-frame-31-offset-x: -3866px;
$-frame-31-offset-y: -1884px;
$-frame-31-width: 37px;
$-frame-31-height: 37px;
$-frame-31-total-width: 3910px;
$-frame-31-total-height: 3499px;
$-frame-31-image: '../images/sprite.png';
$-frame-31: (3866px, 1884px, -3866px, -1884px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Frame-31', );
$-frame-31-1-name: 'Frame-31_1';
$-frame-31-1-x: 3349px;
$-frame-31-1-y: 2022px;
$-frame-31-1-offset-x: -3349px;
$-frame-31-1-offset-y: -2022px;
$-frame-31-1-width: 31px;
$-frame-31-1-height: 31px;
$-frame-31-1-total-width: 3910px;
$-frame-31-1-total-height: 3499px;
$-frame-31-1-image: '../images/sprite.png';
$-frame-31-1: (3349px, 2022px, -3349px, -2022px, 31px, 31px, 3910px, 3499px, '../images/sprite.png', 'Frame-31_1', );
$-group-1-name: 'Group-1';
$-group-1-x: 3736px;
$-group-1-y: 2363px;
$-group-1-offset-x: -3736px;
$-group-1-offset-y: -2363px;
$-group-1-width: 36px;
$-group-1-height: 36px;
$-group-1-total-width: 3910px;
$-group-1-total-height: 3499px;
$-group-1-image: '../images/sprite.png';
$-group-1: (3736px, 2363px, -3736px, -2363px, 36px, 36px, 3910px, 3499px, '../images/sprite.png', 'Group-1', );
$-group-10-name: 'Group-10';
$-group-10-x: 3753px;
$-group-10-y: 2277px;
$-group-10-offset-x: -3753px;
$-group-10-offset-y: -2277px;
$-group-10-width: 37px;
$-group-10-height: 37px;
$-group-10-total-width: 3910px;
$-group-10-total-height: 3499px;
$-group-10-image: '../images/sprite.png';
$-group-10: (3753px, 2277px, -3753px, -2277px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-10', );
$-group-11-name: 'Group-11';
$-group-11-x: 3800px;
$-group-11-y: 2277px;
$-group-11-offset-x: -3800px;
$-group-11-offset-y: -2277px;
$-group-11-width: 37px;
$-group-11-height: 37px;
$-group-11-total-width: 3910px;
$-group-11-total-height: 3499px;
$-group-11-image: '../images/sprite.png';
$-group-11: (3800px, 2277px, -3800px, -2277px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-11', );
$-group-12-name: 'Group-12';
$-group-12-x: 3847px;
$-group-12-y: 2277px;
$-group-12-offset-x: -3847px;
$-group-12-offset-y: -2277px;
$-group-12-width: 37px;
$-group-12-height: 37px;
$-group-12-total-width: 3910px;
$-group-12-total-height: 3499px;
$-group-12-image: '../images/sprite.png';
$-group-12: (3847px, 2277px, -3847px, -2277px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-12', );
$-group-13-name: 'Group-13';
$-group-13-x: 3502px;
$-group-13-y: 2363px;
$-group-13-offset-x: -3502px;
$-group-13-offset-y: -2363px;
$-group-13-width: 37px;
$-group-13-height: 37px;
$-group-13-total-width: 3910px;
$-group-13-total-height: 3499px;
$-group-13-image: '../images/sprite.png';
$-group-13: (3502px, 2363px, -3502px, -2363px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-13', );
$-group-1-1-name: 'Group-1_1';
$-group-1-1-x: 3893px;
$-group-1-1-y: 1113px;
$-group-1-1-offset-x: -3893px;
$-group-1-1-offset-y: -1113px;
$-group-1-1-width: 17px;
$-group-1-1-height: 18px;
$-group-1-1-total-width: 3910px;
$-group-1-1-total-height: 3499px;
$-group-1-1-image: '../images/sprite.png';
$-group-1-1: (3893px, 1113px, -3893px, -1113px, 17px, 18px, 3910px, 3499px, '../images/sprite.png', 'Group-1_1', );
$-group-2-name: 'Group-2';
$-group-2-x: 3893px;
$-group-2-y: 1080px;
$-group-2-offset-x: -3893px;
$-group-2-offset-y: -1080px;
$-group-2-width: 16px;
$-group-2-height: 23px;
$-group-2-total-width: 3910px;
$-group-2-total-height: 3499px;
$-group-2-image: '../images/sprite.png';
$-group-2: (3893px, 1080px, -3893px, -1080px, 16px, 23px, 3910px, 3499px, '../images/sprite.png', 'Group-2', );
$-group-2-1-name: 'Group-2_1';
$-group-2-1-x: 3896px;
$-group-2-1-y: 1024px;
$-group-2-1-offset-x: -3896px;
$-group-2-1-offset-y: -1024px;
$-group-2-1-width: 12px;
$-group-2-1-height: 16px;
$-group-2-1-total-width: 3910px;
$-group-2-1-total-height: 3499px;
$-group-2-1-image: '../images/sprite.png';
$-group-2-1: (3896px, 1024px, -3896px, -1024px, 12px, 16px, 3910px, 3499px, '../images/sprite.png', 'Group-2_1', );
$-group-3-name: 'Group-3';
$-group-3-x: 3512px;
$-group-3-y: 2022px;
$-group-3-offset-x: -3512px;
$-group-3-offset-y: -2022px;
$-group-3-width: 30px;
$-group-3-height: 30px;
$-group-3-total-width: 3910px;
$-group-3-total-height: 3499px;
$-group-3-image: '../images/sprite.png';
$-group-3: (3512px, 2022px, -3512px, -2022px, 30px, 30px, 3910px, 3499px, '../images/sprite.png', 'Group-3', );
$-group-4-name: 'Group-4';
$-group-4-x: 3390px;
$-group-4-y: 2022px;
$-group-4-offset-x: -3390px;
$-group-4-offset-y: -2022px;
$-group-4-width: 31px;
$-group-4-height: 31px;
$-group-4-total-width: 3910px;
$-group-4-total-height: 3499px;
$-group-4-image: '../images/sprite.png';
$-group-4: (3390px, 2022px, -3390px, -2022px, 31px, 31px, 3910px, 3499px, '../images/sprite.png', 'Group-4', );
$-group-8-name: 'Group-8';
$-group-8-x: 3549px;
$-group-8-y: 2363px;
$-group-8-offset-x: -3549px;
$-group-8-offset-y: -2363px;
$-group-8-width: 37px;
$-group-8-height: 37px;
$-group-8-total-width: 3910px;
$-group-8-total-height: 3499px;
$-group-8-image: '../images/sprite.png';
$-group-8: (3549px, 2363px, -3549px, -2363px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-8', );
$-group-9-name: 'Group-9';
$-group-9-x: 3596px;
$-group-9-y: 2363px;
$-group-9-offset-x: -3596px;
$-group-9-offset-y: -2363px;
$-group-9-width: 37px;
$-group-9-height: 37px;
$-group-9-total-width: 3910px;
$-group-9-total-height: 3499px;
$-group-9-image: '../images/sprite.png';
$-group-9: (3596px, 2363px, -3596px, -2363px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'Group-9', );
$-l-o-g-o-g-r-u-p-o-l-a-r-name: 'LOGO-GRUPO-LAR';
$-l-o-g-o-g-r-u-p-o-l-a-r-x: 3453px;
$-l-o-g-o-g-r-u-p-o-l-a-r-y: 1884px;
$-l-o-g-o-g-r-u-p-o-l-a-r-offset-x: -3453px;
$-l-o-g-o-g-r-u-p-o-l-a-r-offset-y: -1884px;
$-l-o-g-o-g-r-u-p-o-l-a-r-width: 121px;
$-l-o-g-o-g-r-u-p-o-l-a-r-height: 69px;
$-l-o-g-o-g-r-u-p-o-l-a-r-total-width: 3910px;
$-l-o-g-o-g-r-u-p-o-l-a-r-total-height: 3499px;
$-l-o-g-o-g-r-u-p-o-l-a-r-image: '../images/sprite.png';
$-l-o-g-o-g-r-u-p-o-l-a-r: (3453px, 1884px, -3453px, -1884px, 121px, 69px, 3910px, 3499px, '../images/sprite.png', 'LOGO-GRUPO-LAR', );
$-l-o-g-o-g-r-u-p-o-l-a-r-1-name: 'LOGO-GRUPO-LAR_1';
$-l-o-g-o-g-r-u-p-o-l-a-r-1-x: 3560px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-y: 1080px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-offset-x: -3560px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-offset-y: -1080px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-width: 213px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-height: 123px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-total-width: 3910px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-total-height: 3499px;
$-l-o-g-o-g-r-u-p-o-l-a-r-1-image: '../images/sprite.png';
$-l-o-g-o-g-r-u-p-o-l-a-r-1: (3560px, 1080px, -3560px, -1080px, 213px, 123px, 3910px, 3499px, '../images/sprite.png', 'LOGO-GRUPO-LAR_1', );
$-logo-name: 'Logo';
$-logo-x: 3584px;
$-logo-y: 1884px;
$-logo-offset-x: -3584px;
$-logo-offset-y: -1884px;
$-logo-width: 117px;
$-logo-height: 67px;
$-logo-total-width: 3910px;
$-logo-total-height: 3499px;
$-logo-image: '../images/sprite.png';
$-logo: (3584px, 1884px, -3584px, -1884px, 117px, 67px, 3910px, 3499px, '../images/sprite.png', 'Logo', );
$-p-a-s-s-a-d-o-r-name: 'PASSADOR';
$-p-a-s-s-a-d-o-r-x: 3744px;
$-p-a-s-s-a-d-o-r-y: 1351px;
$-p-a-s-s-a-d-o-r-offset-x: -3744px;
$-p-a-s-s-a-d-o-r-offset-y: -1351px;
$-p-a-s-s-a-d-o-r-width: 47px;
$-p-a-s-s-a-d-o-r-height: 47px;
$-p-a-s-s-a-d-o-r-total-width: 3910px;
$-p-a-s-s-a-d-o-r-total-height: 3499px;
$-p-a-s-s-a-d-o-r-image: '../images/sprite.png';
$-p-a-s-s-a-d-o-r: (3744px, 1351px, -3744px, -1351px, 47px, 47px, 3910px, 3499px, '../images/sprite.png', 'PASSADOR', );
$-p-a-s-s-a-d-o-r-1-name: 'PASSADOR_1';
$-p-a-s-s-a-d-o-r-1-x: 3801px;
$-p-a-s-s-a-d-o-r-1-y: 1351px;
$-p-a-s-s-a-d-o-r-1-offset-x: -3801px;
$-p-a-s-s-a-d-o-r-1-offset-y: -1351px;
$-p-a-s-s-a-d-o-r-1-width: 47px;
$-p-a-s-s-a-d-o-r-1-height: 47px;
$-p-a-s-s-a-d-o-r-1-total-width: 3910px;
$-p-a-s-s-a-d-o-r-1-total-height: 3499px;
$-p-a-s-s-a-d-o-r-1-image: '../images/sprite.png';
$-p-a-s-s-a-d-o-r-1: (3801px, 1351px, -3801px, -1351px, 47px, 47px, 3910px, 3499px, '../images/sprite.png', 'PASSADOR_1', );
$-p-a-s-s-a-d-o-r-2-name: 'PASSADOR_2';
$-p-a-s-s-a-d-o-r-2-x: 3858px;
$-p-a-s-s-a-d-o-r-2-y: 1351px;
$-p-a-s-s-a-d-o-r-2-offset-x: -3858px;
$-p-a-s-s-a-d-o-r-2-offset-y: -1351px;
$-p-a-s-s-a-d-o-r-2-width: 47px;
$-p-a-s-s-a-d-o-r-2-height: 47px;
$-p-a-s-s-a-d-o-r-2-total-width: 3910px;
$-p-a-s-s-a-d-o-r-2-total-height: 3499px;
$-p-a-s-s-a-d-o-r-2-image: '../images/sprite.png';
$-p-a-s-s-a-d-o-r-2: (3858px, 1351px, -3858px, -1351px, 47px, 47px, 3910px, 3499px, '../images/sprite.png', 'PASSADOR_2', );
$-p-a-s-s-a-d-o-r-3-name: 'PASSADOR_3';
$-p-a-s-s-a-d-o-r-3-x: 3711px;
$-p-a-s-s-a-d-o-r-3-y: 1884px;
$-p-a-s-s-a-d-o-r-3-offset-x: -3711px;
$-p-a-s-s-a-d-o-r-3-offset-y: -1884px;
$-p-a-s-s-a-d-o-r-3-width: 47px;
$-p-a-s-s-a-d-o-r-3-height: 47px;
$-p-a-s-s-a-d-o-r-3-total-width: 3910px;
$-p-a-s-s-a-d-o-r-3-total-height: 3499px;
$-p-a-s-s-a-d-o-r-3-image: '../images/sprite.png';
$-p-a-s-s-a-d-o-r-3: (3711px, 1884px, -3711px, -1884px, 47px, 47px, 3910px, 3499px, '../images/sprite.png', 'PASSADOR_3', );
$-rectangle-51-name: 'Rectangle-51';
$-rectangle-51-x: 3502px;
$-rectangle-51-y: 2067px;
$-rectangle-51-offset-x: -3502px;
$-rectangle-51-offset-y: -2067px;
$-rectangle-51-width: 370px;
$-rectangle-51-height: 200px;
$-rectangle-51-total-width: 3910px;
$-rectangle-51-total-height: 3499px;
$-rectangle-51-image: '../images/sprite.png';
$-rectangle-51: (3502px, 2067px, -3502px, -2067px, 370px, 200px, 3910px, 3499px, '../images/sprite.png', 'Rectangle-51', );
$-vector-name: 'Vector';
$-vector-x: 3575px;
$-vector-y: 1963px;
$-vector-offset-x: -3575px;
$-vector-offset-y: -1963px;
$-vector-width: 8px;
$-vector-height: 15px;
$-vector-total-width: 3910px;
$-vector-total-height: 3499px;
$-vector-image: '../images/sprite.png';
$-vector: (3575px, 1963px, -3575px, -1963px, 8px, 15px, 3910px, 3499px, '../images/sprite.png', 'Vector', );
$-vector-1-name: 'Vector_1';
$-vector-1-x: 3543px;
$-vector-1-y: 1963px;
$-vector-1-offset-x: -3543px;
$-vector-1-offset-y: -1963px;
$-vector-1-width: 22px;
$-vector-1-height: 18px;
$-vector-1-total-width: 3910px;
$-vector-1-total-height: 3499px;
$-vector-1-image: '../images/sprite.png';
$-vector-1: (3543px, 1963px, -3543px, -1963px, 22px, 18px, 3910px, 3499px, '../images/sprite.png', 'Vector_1', );
$-vector-2-name: 'Vector_2';
$-vector-2-x: 3095px;
$-vector-2-y: 2022px;
$-vector-2-offset-x: -3095px;
$-vector-2-offset-y: -2022px;
$-vector-2-width: 35px;
$-vector-2-height: 34px;
$-vector-2-total-width: 3910px;
$-vector-2-total-height: 3499px;
$-vector-2-image: '../images/sprite.png';
$-vector-2: (3095px, 2022px, -3095px, -2022px, 35px, 34px, 3910px, 3499px, '../images/sprite.png', 'Vector_2', );
$-vector-3-name: 'Vector_3';
$-vector-3-x: 3882px;
$-vector-3-y: 2067px;
$-vector-3-offset-x: -3882px;
$-vector-3-offset-y: -2067px;
$-vector-3-width: 24px;
$-vector-3-height: 22px;
$-vector-3-total-width: 3910px;
$-vector-3-total-height: 3499px;
$-vector-3-image: '../images/sprite.png';
$-vector-3: (3882px, 2067px, -3882px, -2067px, 24px, 22px, 3910px, 3499px, '../images/sprite.png', 'Vector_3', );
$akar-icons-whatsapp-fill-name: 'akar-icons_whatsapp-fill';
$akar-icons-whatsapp-fill-x: 3453px;
$akar-icons-whatsapp-fill-y: 1963px;
$akar-icons-whatsapp-fill-offset-x: -3453px;
$akar-icons-whatsapp-fill-offset-y: -1963px;
$akar-icons-whatsapp-fill-width: 20px;
$akar-icons-whatsapp-fill-height: 20px;
$akar-icons-whatsapp-fill-total-width: 3910px;
$akar-icons-whatsapp-fill-total-height: 3499px;
$akar-icons-whatsapp-fill-image: '../images/sprite.png';
$akar-icons-whatsapp-fill: (3453px, 1963px, -3453px, -1963px, 20px, 20px, 3910px, 3499px, '../images/sprite.png', 'akar-icons_whatsapp-fill', );
$arte-contato-name: 'arte-contato';
$arte-contato-x: 0px;
$arte-contato-y: 0px;
$arte-contato-offset-x: 0px;
$arte-contato-offset-y: 0px;
$arte-contato-width: 2460px;
$arte-contato-height: 2516px;
$arte-contato-total-width: 3910px;
$arte-contato-total-height: 3499px;
$arte-contato-image: '../images/sprite.png';
$arte-contato: (0px, 0px, 0px, 0px, 2460px, 2516px, 3910px, 3499px, '../images/sprite.png', 'arte-contato', );
$calendar-1-name: 'calendar-1';
$calendar-1-x: 3783px;
$calendar-1-y: 1080px;
$calendar-1-offset-x: -3783px;
$calendar-1-offset-y: -1080px;
$calendar-1-width: 100px;
$calendar-1-height: 100px;
$calendar-1-total-width: 3910px;
$calendar-1-total-height: 3499px;
$calendar-1-image: '../images/sprite.png';
$calendar-1: (3783px, 1080px, -3783px, -1080px, 100px, 100px, 3910px, 3499px, '../images/sprite.png', 'calendar-1', );
$casa-unica-name: 'casa-unica';
$casa-unica-x: 0px;
$casa-unica-y: 2987px;
$casa-unica-offset-x: 0px;
$casa-unica-offset-y: -2987px;
$casa-unica-width: 512px;
$casa-unica-height: 512px;
$casa-unica-total-width: 3910px;
$casa-unica-total-height: 3499px;
$casa-unica-image: '../images/sprite.png';
$casa-unica: (0px, 2987px, 0px, -2987px, 512px, 512px, 3910px, 3499px, '../images/sprite.png', 'casa-unica', );
$chevron-right-name: 'chevron-right';
$chevron-right-x: 3431px;
$chevron-right-y: 2022px;
$chevron-right-offset-x: -3431px;
$chevron-right-offset-y: -2022px;
$chevron-right-width: 31px;
$chevron-right-height: 31px;
$chevron-right-total-width: 3910px;
$chevron-right-total-height: 3499px;
$chevron-right-image: '../images/sprite.png';
$chevron-right: (3431px, 2022px, -3431px, -2022px, 31px, 31px, 3910px, 3499px, '../images/sprite.png', 'chevron-right', );
$concept-img-name: 'concept-img';
$concept-img-x: 2470px;
$concept-img-y: 1427px;
$concept-img-offset-x: -2470px;
$concept-img-offset-y: -1427px;
$concept-img-width: 615px;
$concept-img-height: 630px;
$concept-img-total-width: 3910px;
$concept-img-total-height: 3499px;
$concept-img-image: '../images/sprite.png';
$concept-img: (2470px, 1427px, -2470px, -1427px, 615px, 630px, 3910px, 3499px, '../images/sprite.png', 'concept-img', );
$elemento-02-1-p-500-name: 'elemento-02-1-p-500';
$elemento-02-1-p-500-x: 2470px;
$elemento-02-1-p-500-y: 2067px;
$elemento-02-1-p-500-offset-x: -2470px;
$elemento-02-1-p-500-offset-y: -2067px;
$elemento-02-1-p-500-width: 500px;
$elemento-02-1-p-500-height: 370px;
$elemento-02-1-p-500-total-width: 3910px;
$elemento-02-1-p-500-total-height: 3499px;
$elemento-02-1-p-500-image: '../images/sprite.png';
$elemento-02-1-p-500: (2470px, 2067px, -2470px, -2067px, 500px, 370px, 3910px, 3499px, '../images/sprite.png', 'elemento-02-1-p-500', );
$elemento-02-1-name: 'elemento-02-1';
$elemento-02-1-x: 0px;
$elemento-02-1-y: 2526px;
$elemento-02-1-offset-x: 0px;
$elemento-02-1-offset-y: -2526px;
$elemento-02-1-width: 609px;
$elemento-02-1-height: 451px;
$elemento-02-1-total-width: 3910px;
$elemento-02-1-total-height: 3499px;
$elemento-02-1-image: '../images/sprite.png';
$elemento-02-1: (0px, 2526px, 0px, -2526px, 609px, 451px, 3910px, 3499px, '../images/sprite.png', 'elemento-02-1', );
$family-pages-name: 'family-pages';
$family-pages-x: 522px;
$family-pages-y: 2987px;
$family-pages-offset-x: -522px;
$family-pages-offset-y: -2987px;
$family-pages-width: 370px;
$family-pages-height: 349px;
$family-pages-total-width: 3910px;
$family-pages-total-height: 3499px;
$family-pages-image: '../images/sprite.png';
$family-pages: (522px, 2987px, -522px, -2987px, 370px, 349px, 3910px, 3499px, '../images/sprite.png', 'family-pages', );
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-name: 'full-perspectiva-ilustrada-do-rooftop-1-p-1080';
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-x: 2470px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-y: 814px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-offset-x: -2470px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-offset-y: -814px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-width: 1080px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-height: 603px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-total-width: 3910px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-total-height: 3499px;
$full-perspectiva-ilustrada-do-rooftop-1-p-1080-image: '../images/sprite.png';
$full-perspectiva-ilustrada-do-rooftop-1-p-1080: (2470px, 814px, -2470px, -814px, 1080px, 603px, 3910px, 3499px, '../images/sprite.png', 'full-perspectiva-ilustrada-do-rooftop-1-p-1080', );
$full-perspectiva-ilustrada-do-rooftop-1-p-500-name: 'full-perspectiva-ilustrada-do-rooftop-1-p-500';
$full-perspectiva-ilustrada-do-rooftop-1-p-500-x: 1129px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-y: 2526px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-offset-x: -1129px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-offset-y: -2526px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-width: 500px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-height: 279px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-total-width: 3910px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-total-height: 3499px;
$full-perspectiva-ilustrada-do-rooftop-1-p-500-image: '../images/sprite.png';
$full-perspectiva-ilustrada-do-rooftop-1-p-500: (1129px, 2526px, -1129px, -2526px, 500px, 279px, 3910px, 3499px, '../images/sprite.png', 'full-perspectiva-ilustrada-do-rooftop-1-p-500', );
$full-perspectiva-ilustrada-do-rooftop-1-p-800-name: 'full-perspectiva-ilustrada-do-rooftop-1-p-800';
$full-perspectiva-ilustrada-do-rooftop-1-p-800-x: 3095px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-y: 1427px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-offset-x: -3095px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-offset-y: -1427px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-width: 800px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-height: 447px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-total-width: 3910px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-total-height: 3499px;
$full-perspectiva-ilustrada-do-rooftop-1-p-800-image: '../images/sprite.png';
$full-perspectiva-ilustrada-do-rooftop-1-p-800: (3095px, 1427px, -3095px, -1427px, 800px, 447px, 3910px, 3499px, '../images/sprite.png', 'full-perspectiva-ilustrada-do-rooftop-1-p-800', );
$full-perspectiva-ilustrada-do-rooftop-1-name: 'full-perspectiva-ilustrada-do-rooftop-1';
$full-perspectiva-ilustrada-do-rooftop-1-x: 2470px;
$full-perspectiva-ilustrada-do-rooftop-1-y: 0px;
$full-perspectiva-ilustrada-do-rooftop-1-offset-x: -2470px;
$full-perspectiva-ilustrada-do-rooftop-1-offset-y: 0px;
$full-perspectiva-ilustrada-do-rooftop-1-width: 1440px;
$full-perspectiva-ilustrada-do-rooftop-1-height: 804px;
$full-perspectiva-ilustrada-do-rooftop-1-total-width: 3910px;
$full-perspectiva-ilustrada-do-rooftop-1-total-height: 3499px;
$full-perspectiva-ilustrada-do-rooftop-1-image: '../images/sprite.png';
$full-perspectiva-ilustrada-do-rooftop-1: (2470px, 0px, -2470px, 0px, 1440px, 804px, 3910px, 3499px, '../images/sprite.png', 'full-perspectiva-ilustrada-do-rooftop-1', );
$home-icon-name: 'home-icon';
$home-icon-x: 3836px;
$home-icon-y: 1282px;
$home-icon-offset-x: -3836px;
$home-icon-offset-y: -1282px;
$home-icon-width: 60px;
$home-icon-height: 57px;
$home-icon-total-width: 3910px;
$home-icon-total-height: 3499px;
$home-icon-image: '../images/sprite.png';
$home-icon: (3836px, 1282px, -3836px, -1282px, 60px, 57px, 3910px, 3499px, '../images/sprite.png', 'home-icon', );
$icon-book-name: 'icon-book';
$icon-book-x: 3266px;
$icon-book-y: 2022px;
$icon-book-offset-x: -3266px;
$icon-book-offset-y: -2022px;
$icon-book-width: 32px;
$icon-book-height: 33px;
$icon-book-total-width: 3910px;
$icon-book-total-height: 3499px;
$icon-book-image: '../images/sprite.png';
$icon-book: (3266px, 2022px, -3266px, -2022px, 32px, 33px, 3910px, 3499px, '../images/sprite.png', 'icon-book', );
$icon-cliente-name: 'icon-cliente';
$icon-cliente-x: 3627px;
$icon-cliente-y: 1351px;
$icon-cliente-offset-x: -3627px;
$icon-cliente-offset-y: -1351px;
$icon-cliente-width: 49px;
$icon-cliente-height: 50px;
$icon-cliente-total-width: 3910px;
$icon-cliente-total-height: 3499px;
$icon-cliente-image: '../images/sprite.png';
$icon-cliente: (3627px, 1351px, -3627px, -1351px, 49px, 50px, 3910px, 3499px, '../images/sprite.png', 'icon-cliente', );
$icon-imoveis-name: 'icon-imoveis';
$icon-imoveis-x: 3686px;
$icon-imoveis-y: 1351px;
$icon-imoveis-offset-x: -3686px;
$icon-imoveis-offset-y: -1351px;
$icon-imoveis-width: 48px;
$icon-imoveis-height: 48px;
$icon-imoveis-total-width: 3910px;
$icon-imoveis-total-height: 3499px;
$icon-imoveis-image: '../images/sprite.png';
$icon-imoveis: (3686px, 1351px, -3686px, -1351px, 48px, 48px, 3910px, 3499px, '../images/sprite.png', 'icon-imoveis', );
$icon-play-name: 'icon-play';
$icon-play-x: 3233px;
$icon-play-y: 1884px;
$icon-play-offset-x: -3233px;
$icon-play-offset-y: -1884px;
$icon-play-width: 100px;
$icon-play-height: 100px;
$icon-play-total-width: 3910px;
$icon-play-total-height: 3499px;
$icon-play-image: '../images/sprite.png';
$icon-play: (3233px, 1884px, -3233px, -1884px, 100px, 100px, 3910px, 3499px, '../images/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 3483px;
$icon-search-y: 1963px;
$icon-search-offset-x: -3483px;
$icon-search-offset-y: -1963px;
$icon-search-width: 20px;
$icon-search-height: 20px;
$icon-search-total-width: 3910px;
$icon-search-total-height: 3499px;
$icon-search-image: '../images/sprite.png';
$icon-search: (3483px, 1963px, -3483px, -1963px, 20px, 20px, 3910px, 3499px, '../images/sprite.png', 'icon-search', );
$icons8-im-veis-100-1-name: 'icons8-imóveis-100-1';
$icons8-im-veis-100-1-x: 3893px;
$icons8-im-veis-100-1-y: 1141px;
$icons8-im-veis-100-1-offset-x: -3893px;
$icons8-im-veis-100-1-offset-y: -1141px;
$icons8-im-veis-100-1-width: 16px;
$icons8-im-veis-100-1-height: 16px;
$icons8-im-veis-100-1-total-width: 3910px;
$icons8-im-veis-100-1-total-height: 3499px;
$icons8-im-veis-100-1-image: '../images/sprite.png';
$icons8-im-veis-100-1: (3893px, 1141px, -3893px, -1141px, 16px, 16px, 3910px, 3499px, '../images/sprite.png', 'icons8-imóveis-100-1', );
$image-imovel-name: 'image-imovel';
$image-imovel-x: 619px;
$image-imovel-y: 2526px;
$image-imovel-offset-x: -619px;
$image-imovel-offset-y: -2526px;
$image-imovel-width: 500px;
$image-imovel-height: 301px;
$image-imovel-total-width: 3910px;
$image-imovel-total-height: 3499px;
$image-imovel-image: '../images/sprite.png';
$image-imovel: (619px, 2526px, -619px, -2526px, 500px, 301px, 3910px, 3499px, '../images/sprite.png', 'image-imovel', );
$imovel-name: 'imovel';
$imovel-x: 902px;
$imovel-y: 2987px;
$imovel-offset-x: -902px;
$imovel-offset-y: -2987px;
$imovel-width: 370px;
$imovel-height: 349px;
$imovel-total-width: 3910px;
$imovel-total-height: 3499px;
$imovel-image: '../images/sprite.png';
$imovel: (902px, 2987px, -902px, -2987px, 370px, 349px, 3910px, 3499px, '../images/sprite.png', 'imovel', );
$imovel2-name: 'imovel2';
$imovel2-x: 1282px;
$imovel2-y: 2987px;
$imovel2-offset-x: -1282px;
$imovel2-offset-y: -2987px;
$imovel2-width: 370px;
$imovel2-height: 349px;
$imovel2-total-width: 3910px;
$imovel2-total-height: 3499px;
$imovel2-image: '../images/sprite.png';
$imovel2: (1282px, 2987px, -1282px, -2987px, 370px, 349px, 3910px, 3499px, '../images/sprite.png', 'imovel2', );
$location-icon-name: 'location-icon';
$location-icon-x: 3826px;
$location-icon-y: 976px;
$location-icon-offset-x: -3826px;
$location-icon-offset-y: -976px;
$location-icon-width: 60px;
$location-icon-height: 74px;
$location-icon-total-width: 3910px;
$location-icon-total-height: 3499px;
$location-icon-image: '../images/sprite.png';
$location-icon: (3826px, 976px, -3826px, -976px, 60px, 74px, 3910px, 3499px, '../images/sprite.png', 'location-icon', );
$map-orange-name: 'map-orange';
$map-orange-x: 3560px;
$map-orange-y: 1351px;
$map-orange-offset-x: -3560px;
$map-orange-offset-y: -1351px;
$map-orange-width: 57px;
$map-orange-height: 57px;
$map-orange-total-width: 3910px;
$map-orange-total-height: 3499px;
$map-orange-image: '../images/sprite.png';
$map-orange: (3560px, 1351px, -3560px, -1351px, 57px, 57px, 3910px, 3499px, '../images/sprite.png', 'map-orange', );
$map-pin-name: 'map-pin';
$map-pin-x: 3896px;
$map-pin-y: 976px;
$map-pin-offset-x: -3896px;
$map-pin-offset-y: -976px;
$map-pin-width: 14px;
$map-pin-height: 14px;
$map-pin-total-width: 3910px;
$map-pin-total-height: 3499px;
$map-pin-image: '../images/sprite.png';
$map-pin: (3896px, 976px, -3896px, -976px, 14px, 14px, 3910px, 3499px, '../images/sprite.png', 'map-pin', );
$map-pin-1-name: 'map-pin_1';
$map-pin-1-x: 3896px;
$map-pin-1-y: 1000px;
$map-pin-1-offset-x: -3896px;
$map-pin-1-offset-y: -1000px;
$map-pin-1-width: 14px;
$map-pin-1-height: 14px;
$map-pin-1-total-width: 3910px;
$map-pin-1-total-height: 3499px;
$map-pin-1-image: '../images/sprite.png';
$map-pin-1: (3896px, 1000px, -3896px, -1000px, 14px, 14px, 3910px, 3499px, '../images/sprite.png', 'map-pin_1', );
$map-pin-2-name: 'map-pin_2';
$map-pin-2-x: 3472px;
$map-pin-2-y: 2022px;
$map-pin-2-offset-x: -3472px;
$map-pin-2-offset-y: -2022px;
$map-pin-2-width: 30px;
$map-pin-2-height: 31px;
$map-pin-2-total-width: 3910px;
$map-pin-2-total-height: 3499px;
$map-pin-2-image: '../images/sprite.png';
$map-pin-2: (3472px, 2022px, -3472px, -2022px, 30px, 31px, 3910px, 3499px, '../images/sprite.png', 'map-pin_2', );
$o-email-icon-name: 'o-email-icon';
$o-email-icon-x: 3502px;
$o-email-icon-y: 2277px;
$o-email-icon-offset-x: -3502px;
$o-email-icon-offset-y: -2277px;
$o-email-icon-width: 100px;
$o-email-icon-height: 76px;
$o-email-icon-total-width: 3910px;
$o-email-icon-total-height: 3499px;
$o-email-icon-image: '../images/sprite.png';
$o-email-icon: (3502px, 2277px, -3502px, -2277px, 100px, 76px, 3910px, 3499px, '../images/sprite.png', 'o-email-icon', );
$seta-para-baixo-1-name: 'seta-para-baixo-1';
$seta-para-baixo-1-x: 2980px;
$seta-para-baixo-1-y: 2067px;
$seta-para-baixo-1-offset-x: -2980px;
$seta-para-baixo-1-offset-y: -2067px;
$seta-para-baixo-1-width: 512px;
$seta-para-baixo-1-height: 342px;
$seta-para-baixo-1-total-width: 3910px;
$seta-para-baixo-1-total-height: 3499px;
$seta-para-baixo-1-image: '../images/sprite.png';
$seta-para-baixo-1: (2980px, 2067px, -2980px, -2067px, 512px, 342px, 3910px, 3499px, '../images/sprite.png', 'seta-para-baixo-1', );
$seta-name: 'seta';
$seta-x: 3552px;
$seta-y: 2022px;
$seta-offset-x: -3552px;
$seta-offset-y: -2022px;
$seta-width: 31px;
$seta-height: 21px;
$seta-total-width: 3910px;
$seta-total-height: 3499px;
$seta-image: '../images/sprite.png';
$seta: (3552px, 2022px, -3552px, -2022px, 31px, 21px, 3910px, 3499px, '../images/sprite.png', 'seta', );
$surface1201579-name: 'surface1201579';
$surface1201579-x: 3513px;
$surface1201579-y: 1963px;
$surface1201579-offset-x: -3513px;
$surface1201579-offset-y: -1963px;
$surface1201579-width: 20px;
$surface1201579-height: 20px;
$surface1201579-total-width: 3910px;
$surface1201579-total-height: 3499px;
$surface1201579-image: '../images/sprite.png';
$surface1201579: (3513px, 1963px, -3513px, -1963px, 20px, 20px, 3910px, 3499px, '../images/sprite.png', 'surface1201579', );
$surface1201579-1-name: 'surface1201579_1';
$surface1201579-1-x: 3768px;
$surface1201579-1-y: 1884px;
$surface1201579-1-offset-x: -3768px;
$surface1201579-1-offset-y: -1884px;
$surface1201579-1-width: 41px;
$surface1201579-1-height: 37px;
$surface1201579-1-total-width: 3910px;
$surface1201579-1-total-height: 3499px;
$surface1201579-1-image: '../images/sprite.png';
$surface1201579-1: (3768px, 1884px, -3768px, -1884px, 41px, 37px, 3910px, 3499px, '../images/sprite.png', 'surface1201579_1', );
$telefone-icon-name: 'telefone-icon';
$telefone-icon-x: 3343px;
$telefone-icon-y: 1884px;
$telefone-icon-offset-x: -3343px;
$telefone-icon-offset-y: -1884px;
$telefone-icon-width: 100px;
$telefone-icon-height: 99px;
$telefone-icon-total-width: 3910px;
$telefone-icon-total-height: 3499px;
$telefone-icon-image: '../images/sprite.png';
$telefone-icon: (3343px, 1884px, -3343px, -1884px, 100px, 99px, 3910px, 3499px, '../images/sprite.png', 'telefone-icon', );
$user-icon-cliente-name: 'user-icon-cliente';
$user-icon-cliente-x: 3836px;
$user-icon-cliente-y: 1213px;
$user-icon-cliente-offset-x: -3836px;
$user-icon-cliente-offset-y: -1213px;
$user-icon-cliente-width: 60px;
$user-icon-cliente-height: 59px;
$user-icon-cliente-total-width: 3910px;
$user-icon-cliente-total-height: 3499px;
$user-icon-cliente-image: '../images/sprite.png';
$user-icon-cliente: (3836px, 1213px, -3836px, -1213px, 60px, 59px, 3910px, 3499px, '../images/sprite.png', 'user-icon-cliente', );
$waze-icon-icon-name: 'waze-icon-icon';
$waze-icon-icon-x: 3882px;
$waze-icon-icon-y: 2099px;
$waze-icon-icon-offset-x: -3882px;
$waze-icon-icon-offset-y: -2099px;
$waze-icon-icon-width: 24px;
$waze-icon-icon-height: 22px;
$waze-icon-icon-total-width: 3910px;
$waze-icon-icon-total-height: 3499px;
$waze-icon-icon-image: '../images/sprite.png';
$waze-icon-icon: (3882px, 2099px, -3882px, -2099px, 24px, 22px, 3910px, 3499px, '../images/sprite.png', 'waze-icon-icon', );
$waze-icon-name: 'waze-icon';
$waze-icon-x: 3643px;
$waze-icon-y: 2363px;
$waze-icon-offset-x: -3643px;
$waze-icon-offset-y: -2363px;
$waze-icon-width: 37px;
$waze-icon-height: 37px;
$waze-icon-total-width: 3910px;
$waze-icon-total-height: 3499px;
$waze-icon-image: '../images/sprite.png';
$waze-icon: (3643px, 2363px, -3643px, -2363px, 37px, 37px, 3910px, 3499px, '../images/sprite.png', 'waze-icon', );
$webclip-name: 'webclip';
$webclip-x: 3560px;
$webclip-y: 814px;
$webclip-offset-x: -3560px;
$webclip-offset-y: -814px;
$webclip-width: 256px;
$webclip-height: 256px;
$webclip-total-width: 3910px;
$webclip-total-height: 3499px;
$webclip-image: '../images/sprite.png';
$webclip: (3560px, 814px, -3560px, -814px, 256px, 256px, 3910px, 3499px, '../images/sprite.png', 'webclip', );
$x-name: 'x';
$x-x: 3690px;
$x-y: 2363px;
$x-offset-x: -3690px;
$x-offset-y: -2363px;
$x-width: 36px;
$x-height: 37px;
$x-total-width: 3910px;
$x-total-height: 3499px;
$x-image: '../images/sprite.png';
$x: (3690px, 2363px, -3690px, -2363px, 36px, 37px, 3910px, 3499px, '../images/sprite.png', 'x', );
$young-family-with-two-sons-in-the-house-1-name: 'young-family-with-two-sons-in-the-house-1';
$young-family-with-two-sons-in-the-house-1-x: 1662px;
$young-family-with-two-sons-in-the-house-1-y: 2987px;
$young-family-with-two-sons-in-the-house-1-offset-x: -1662px;
$young-family-with-two-sons-in-the-house-1-offset-y: -2987px;
$young-family-with-two-sons-in-the-house-1-width: 370px;
$young-family-with-two-sons-in-the-house-1-height: 349px;
$young-family-with-two-sons-in-the-house-1-total-width: 3910px;
$young-family-with-two-sons-in-the-house-1-total-height: 3499px;
$young-family-with-two-sons-in-the-house-1-image: '../images/sprite.png';
$young-family-with-two-sons-in-the-house-1: (1662px, 2987px, -1662px, -2987px, 370px, 349px, 3910px, 3499px, '../images/sprite.png', 'young-family-with-two-sons-in-the-house-1', );
$spritesheet-width: 3910px;
$spritesheet-height: 3499px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-frame-110, $-frame-110-1, $-frame-110-2, $-frame-110-3, $-frame-110-4, $-frame-117, $-frame-27, $-frame-27-1, $-frame-29, $-frame-29-1, $-frame-30, $-frame-30-1, $-frame-30-2, $-frame-31, $-frame-31-1, $-group-1, $-group-10, $-group-11, $-group-12, $-group-13, $-group-1-1, $-group-2, $-group-2-1, $-group-3, $-group-4, $-group-8, $-group-9, $-l-o-g-o-g-r-u-p-o-l-a-r, $-l-o-g-o-g-r-u-p-o-l-a-r-1, $-logo, $-p-a-s-s-a-d-o-r, $-p-a-s-s-a-d-o-r-1, $-p-a-s-s-a-d-o-r-2, $-p-a-s-s-a-d-o-r-3, $-rectangle-51, $-vector, $-vector-1, $-vector-2, $-vector-3, $akar-icons-whatsapp-fill, $arte-contato, $calendar-1, $casa-unica, $chevron-right, $concept-img, $elemento-02-1-p-500, $elemento-02-1, $family-pages, $full-perspectiva-ilustrada-do-rooftop-1-p-1080, $full-perspectiva-ilustrada-do-rooftop-1-p-500, $full-perspectiva-ilustrada-do-rooftop-1-p-800, $full-perspectiva-ilustrada-do-rooftop-1, $home-icon, $icon-book, $icon-cliente, $icon-imoveis, $icon-play, $icon-search, $icons8-im-veis-100-1, $image-imovel, $imovel, $imovel2, $location-icon, $map-orange, $map-pin, $map-pin-1, $map-pin-2, $o-email-icon, $seta-para-baixo-1, $seta, $surface1201579, $surface1201579-1, $telefone-icon, $user-icon-cliente, $waze-icon-icon, $waze-icon, $webclip, $x, $young-family-with-two-sons-in-the-house-1, );
$spritesheet: (3910px, 3499px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
