/* PAGE 404 */
.component-info-404 {
    margin: 100px 0;
}
.component-info-404__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}
.component-info-404__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}
.component-info-404__desc {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
}
.component-info-404__btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.component-info-404__btn a {
    max-width: 100%;
    width: 230px;
}