*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    //background-color: rgb(243, 243, 253);
    background-color: #fff;
    justify-content: center;
}

.blog-corpo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 253);
    padding: 5%;
    
    &-titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        &-alto{
            margin: 12px;
        }
        &-baixo{
            margin: 12px;
            font-size: 35px;
        }
    }
}
.blog-container{
    padding: 5% 15%;
}
.blog-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-content: center;
    

    &-corpo{
        margin: 5% 5%;
        border: solid rgb(243, 243, 253) ;
        border-radius: 5%;
    }
}

.blog-card-corpo a{
    text-decoration: none;
}
.blog-card-img img{
    width: 100%;
    min-height: 200px;
    max-height: 220px;
    border-radius: 5% 5% 0% 0%;
}

.blog-card-text{
    padding: 1rem;

    &-titulo{
        color: #000;
        margin-bottom: 1rem;
    }

    &-desc{
        color: #000;
        font-weight: 100;
    }

    &-mais{
        color: #000;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-weight: bold
    }
}

.Corpo-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 25%;

    &-img{
        margin: 15px;
    }

    &-title{
        font-size: 30px;
        font-weight: 1000;
        text-align: center;
        margin: 15px;
    }

    &-desc{
        font-size: 20px;
        text-align: center;
        margin: 15px;
    }
}


@media (max-width: 768px) {
    nav{
        display: none;
    }

    .blog-corpo{
        padding: 2%;
    }
    
    .blog-card{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 425px) {
    nav{
        display: none;
    }

    .blog-corpo{
        padding: 2%;

        &-titulo{
            
            &-alto{
                margin: 10px;
            }
            &-baixo{
                margin: 10px;
                font-size: 30px;
            }
        }

    }
    
    .blog-card{
        display: flex;
        flex-direction: column;
    }
}
